<div class="container">
  <div *ngIf="pokemon" class="mt-4">
    <div class="justify-content-center row">
      <h2 class="col-md-11 text-center">{{ pokemon.name }}</h2>
      <button type="button" class="btn btn-info col-md-1" (click)="return()">
        Volver
      </button>
    </div>
    <div class="card my-4">
      <div class="card-body row">
        <div class="col-md-5 card">
          <img
            *ngIf="!isHomeDesign"
            [src]="!isShiny ? frontalImage : frontalImageShiny"
          />
          <img
            *ngIf="isHomeDesign && !genderSwitch"
            [src]="!isShiny ? frontalImageHome : frontalImageShinyHome"
          />
          <img
            *ngIf="isHomeDesign && genderSwitch && frontalImageFemHome"
            [src]="!isShiny ? frontalImageFemHome : frontalImageShinyFemHome"
          />
          <div *ngIf="frontalImageHome" class="form-check form-switch mx-auto">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="HomeDesign"
              [(ngModel)]="isHomeDesign"
            />
            <label class="form-check-label" for="shinySwitch">HomeDesign</label>
          </div>
          <div
            *ngIf="
              (!isHomeDesign && frontalImageShiny) ||
              (isHomeDesign && frontalImageShinyHome)
            "
            class="mx-auto row"
          >
            <div class="form-check form-switch col">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="shinySwitch"
                [(ngModel)]="isShiny"
              />
              <label class="form-check-label" for="shinySwitch">Shiny</label>
            </div>
            <div
              *ngIf="isHomeDesign && frontalImageFemHome"
              class="form-check form-switch col"
            >
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="genderSwitch"
                [(ngModel)]="genderSwitch"
              />
              <label class="form-check-label" for="genderSwitch">{{
                genderSwitch ? "Femenino" : "Masculino"
              }}</label>
            </div>
          </div>
        </div>
        <div class="container col-md-7">
          <div class="border px-4 container">
            <legend class="w-auto">Attributtes</legend>

            <div class="row" *ngFor="let stat of pokemon.stats">
              <label class="col-md-6">{{ stat.stat.name }} base:</label>
              <label class="col-md-6 text-end" [for]="stat.stat.name">
                {{ stat.base_stat }}
              </label>
            </div>
            <br />
            <div class="row">
              <label class="col-md-7">experience obtain to defeated:</label>
              <label class="col-md-5 text-end" for="expirienceDefeated">
                {{ pokemon.base_experience }}</label
              >
            </div>
            <div class="row">
              <label class="col-md-6">Heigth:</label>
              <label class="col-md-6 text-end" for="height">
                {{ pokemon.height }}</label
              >
            </div>
            <div class="row">
              <label class="col-md-6">Weight:</label>
              <label class="col-md-6 text-end" for="weight">
                {{ pokemon.weight }}</label
              >
            </div>
            <div class="row">
              <label class="col-md-6">P.effort obtain to defeated:</label>
              <div class="col-md-6">
                <div *ngFor="let text of textEffortShowed" class="row text-end">
                  <label class="text-end col-md-12" for="PE"> {{ text }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container col-md-12">
          <div class="border px-4 mt-2">
            <legend class="w-auto">Skills</legend>
            <ul class="list-group pb-2">
              <li
                *ngFor="let skill of pokemon.abilities; let i = index"
                class="list-group-item"
              >
                <span *ngIf="skill.is_hidden" class="badge bg-info"
                  >Hidden skill</span
                >
                <label for="skillName" class="ml-2"
                  ><strong>{{ skill.ability.name }}</strong>
                </label>
                -
                <label for="skillDescription" *ngIf="skill.ability.effect">
                  {{ skill.ability.effect }}
                </label>
              </li>
            </ul>
          </div>
          <div class="border px-4 mt-2">
            <legend class="w-auto">Moves</legend>
            <p>Below are the moves that can learn:</p>
            <ul class="list-group list-skills overflow-auto pb-2">
              <li
                *ngFor="let move of pokemon.moves; let i = index"
                class="list-group-item"
              >
                <span class="badge bg-primary">{{ i + 1 }}</span>
                <label for="moveName" class="mx-2"
                  ><strong>{{ move.move.name }}</strong>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
