<div class="container">
  <div class="row mt-4">
    <div class="col-md-3 search">
      <input
        type="text"
        [(ngModel)]="pokemonSearch"
        id="pokemonSearch"
        [placeholder]="'insertNamePokemon' | translate"
        class="form-control col-md-3"
        (ngModelChange)="search()"
      />
    </div>
    <div style="margin-top: 3em" class="row">
      <div
        class="list-group col-md-11"
        style="overflow: hidden"
        infinite-scroll
        [infiniteScrollDistance]="1"
        [infiniteScrollUpDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScrollDown()"
      >
        @for (pokemon of listShowed; track pokemon.name) {
        <div
          *ngIf="!showSpinner"
          class="list-group-item list-group-item-action"
        >
          <div class="row">
            <div class="col-md-10">{{ pokemon.name | titlecase }}</div>
            <div class="col-md-2">
              <button
                type="button"
                class="btn btn-info col-md-12"
                (click)="showDetail(pokemon)"
              >
                {{ "seePokemon" | translate }}
              </button>
            </div>
          </div>
        </div>
        }@empty {
        <span *ngIf="!showSpinner">{{ "noResults" | translate }}</span>
        }
        <div *ngIf="showSpinner">
          <mat-progress-spinner
            class="mx-auto"
            mode="indeterminate"
          ></mat-progress-spinner>
        </div>
      </div>
      <div class="col-md-1">
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle up"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ pokemonApiService.siteLanguage }}
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let language of languageList">
              <a
                class="dropdown-item"
                (click)="changeSiteLanguage(language.code)"
              >
                {{ language.label }}
              </a>
            </li>
          </ul>
        </div>
        <button
          type="button"
          class="btn btn-primary up mt-5"
          (click)="topScroll()"
        >
          {{ "up" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-warning down mb-4"
          (click)="downScroll()"
        >
          {{ "down" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
