.list-skills {
  max-height: 300px;
}
.ml-2 {
  margin-left: 5px;
}

.box {
  display: flex;
  height: 80vh;
  overflow-y: scroll;
}

.up {
  position: fixed;
}

.down {
  position: fixed;
  bottom: 0;
}

.search {
  position: fixed;
  z-index: 1030;
}
